.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
  background-color: gray;
  border-radius: 10px;
}
.nav-items > ul {
  list-style: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
  margin-top: 10px;
}
.logo {
  width: 120px;
  height: 80px;
  padding: 10px;
}
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
}
.card > img {
  width: 100%;
  border-radius: 10px;
}
.resturent-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header-btn {
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}
.search-btn {
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}
.search-container {
  margin-left: 30px;
}
.search-input {
  border-radius: 50px;
  height: 30px;
  width: 200px;
  text-align: center;
}
.shimmer-card {
  height: 200px;
  width: 200px;
  background: lightgray;
  margin: 20px;
}
